<section class="container-xl my-5">

    <div class="social-section p-5 ">

        <div class="row align-items-center">
            <div class="col-md-6 text-center p-2 mb-4 mb-md-0">
                <a class="lead text-white" href="#">
                    <img class="d-block d-md-inline-block mx-auto mb-2 mb-md-0 mr-md-3"
                        src="{{ blox.page.path }}assets/images/facebook-icon.svg" alt="" />
                    Join us on Facebook</a>
            </div>
            <div class="col-md-6 text-center p-2">
                <a class="lead text-white" href="#">
                    <img class="d-block d-md-inline-block mx-auto mb-2 mb-md-0 mr-md-3"
                        src="{{ blox.page.path }}assets/images/youtube-icon.svg" alt="" />
                    Follow us on Youtube</a>
            </div>
        </div>

    </div>

</section>